<aside id="menu" <% if ((is_post() || page.layout === 'page') && theme.hideMenu) { %>class="hide"<% } %> >
  <div class="inner flex-row-vertical">
    <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menu-off">
        <i class="icon icon-lg icon-outdent" aria-hidden="true"></i>
    </a>
    <div class="brand-wrap" style="background-image:url(<%- url_for(theme.brand) %>)">
      <div class="brand">
        <header class="introduce">
          <a href="<%- url_for(theme.avatar_link) %>" class="avatar waves-effect waves-circle waves-light">
            <img src="<%- url_for(theme.avatar) %>">
          </a>
          <h5 class="nickname"><%- config.author %></h5>
	  
          <h5 class="description"><%- config.description %></h5>
          <div style="margin-top: 5px; font-size: 92%"><b><%- site.posts.length %> 篇文章，共 <%- totalcount(site) %> 字</b></div>	  
            <%
              for (var i in theme.socail) {
                link = theme.socail[i];
            %>
            <li class="waves-block socail-icon %>">
              <a href="<%- url_for(link) %>" target="_blank">
                <i class="icon icon-lg icon-<%= i %>" aria-hidden="true"></i>
              </a>
            </li>
            <% } %>
        </header>
      </div>
    </div>
    <div class="scroll-wrap flex-col">
      <ul class="nav">
        <%
          var menuLink, isActive = function(link) {
              var pageLink = url_for(page.path)
              return link === '/' ? pageLink === url_for(link + 'index.html') : _.startsWith(pageLink, url_for(link))
          };
          for (var i in theme.menu) {
            menuLink = theme.menu[i];
          %>
            <li class="waves-block waves-effect<% if(isActive(menuLink)){ %> active<% } %>">
              <a href="<%- url_for(menuLink) %>">
                <i class="icon icon-lg icon-<%= i %>" aria-hidden="true"></i>
                <%=(__('menu.' + i) || _.startCase(i)) %>
              </a>
            </li>
        <% } %>
      </ul>
    </div>
  </div>
</aside>
